@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}


.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: end;
}

.leftSidebar {
    width: 20%;
    height: 100vh;
    position: fixed;
    padding: 0 15px;
}




.logo-div {

    font-family: "Dancing Script", cursive;
    height: 15%;
}


.links-div {

    display: flex;
    flex-direction: column;
    gap: 10px;

}


.links-div h3 a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 14px;


}


.links-div h3 {
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
    padding: 5px 5px;
}

.more-div {
    height: 15%;
    display: flex;
    align-items: end;
}

.more-div h3 a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 14px;

}

.more-div h3 {
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s linear;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 5px;
}



.links-div h3:hover {
    background-color: rgb(249, 248, 248);
}


.more-div h3:hover {
    background-color: rgb(251, 250, 250);
}









.postBar {
    width: 55%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



.stories {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    white-space: nowrap;
}


.stories::-webkit-scrollbar {
    height: 5px;
}


.stories::-webkit-scrollbar-thumb {
    background: transparent;
}


.stories::-webkit-scrollbar-track {
    /* background-color: aqua; */
    border-radius: 10px;
}



.story {
    width: 50px;
    height: 40px;
}


.circle {
    width: 80%;
    height: 100%;
    /* border: 2px solid ; */
    background: linear-gradient(rgb(187, 5, 178), rgb(247, 228, 13));
    border-radius: 50%;
    padding: 2px;

}

.stories .circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}




.story p {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}








.cards {

    width: 80%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}





.card {
    width: 75%;
    height: 200px;
    /* background-color: aqua; */
}


.card-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    justify-content: space-between;
}

.title {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 5px;
}


.title p {
    font-size: 12px;
}

.card-header .title img {
    width: 35px;
    height: 30px;
    border-radius: 50%;
}


.card-header i {
    margin-right: 5px;

}


.card img {
    width: 100%;
    height: 100%;
}



.comment-section {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(223, 211, 211);
    justify-content: space-between;
}


.comment-section input {
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 5px;
}

.comment-section i {
    margin-left: 5px;
}


.comment-section button {
    margin-right: 2px;
    border: none;
    background-color: transparent;
    color: rgb(19, 170, 221);
}

.rightSidebar {
    width: 23%;
    height: 100vh;
    /* background-color: rgb(255, 44, 171); */
}