@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}


.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.leftSidebar {
    width: 20%;
    height: 100vh;
    padding: 0 15px;
}


.logo-div {

    font-family: "Dancing Script", cursive;
    height: 15%;
}


.links-div {

    display: flex;
    flex-direction: column;
    gap: 10px;

}


.links-div h3 a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;

}


.links-div h3 {
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
    padding: 5px 5px;
}

.more-div {
    height: 15%;
    display: flex;
    align-items: end;
}

.more-div h3 a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;

}

.more-div h3 {
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s linear;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 5px;
}



.links-div h3:hover {
    background-color: rgb(247, 241, 241);
}


.more-div h3:hover {
    background-color: rgb(247, 241, 241);
}









.postBar {
    width: 55%;
    height: 100vh;
    background-color: rgb(68, 220, 234);
}


.rightSidebar {
    width: 23%;
    height: 100vh;
    background-color: rgb(255, 44, 171);
}