* {
    margin: 0;
    padding: 0;
}


.parent {
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}

.child{
    width: 50%;
    height: 100%;
    background-color: lightblue;
}


@media (max-width:1100px) {
    .child{
        background-color: red;
        width: 100%;
    }
}