* {
    margin: 0;
    padding: 0;
}


input {
    background-color: rgb(255, 149, 0);
    margin-left: 210px;
    transition: all 0.8s linear;
}


/* input:hover {
    background-color: rgb(243, 63, 150);
    width: 300px;
    height: 50px;
    transition: all 0.8s linear;

} */


/* input:active {
    background-color: blueviolet;
} */



input:focus {
    background-color: rgb(243, 63, 150);
    width: 300px;
    height: 50px;
    transition: all 0.8s linear;
}