* {
    margin: 0;
    padding: 0;
}

.parentDiv {
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}


.child {
    width: 60%;
    height: 60%;
    background-color: yellowgreen;
}


.child2 {
    width: 40%;
    height: 40%;
    background-color: rgb(0, 217, 255);
    overflow: scroll;
    padding: 5px;
}

.another-div {
    margin-top: 10px;
    margin-left: 400px;
    width: 120px;
    border: 1px solid red;
    height: 120px;
    border-radius: 50%;
    background-color: cornflowerblue;
}