* {
    margin: 0;
    padding: 0;
}



nav {
    width: 100%;
    height: 10vh;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    border-radius: 20px;
    border: 2px solid black;
    width: 90%;
    height: 100%;
}


ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


ul li {
    transition: all 0.3s linear;
}

ul li:hover {
    /* transform: scale(1.1); */
    transform: translateY(-20%);
}


#home {
    width: 100%;
    min-height: 85vh;
    display: flex;
}


.leftSide {
    height: 85vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    justify-content: center;
    width: 80%;
}


.content h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}


.content button {
    width: 120px;
    height: 35px;
    transition: all 0.3s linear;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    border: 2px solid rgb(0, 128, 255);
}


.content button:hover {

    transform: translateY(-5%);
    color: white;
    box-shadow: rgba(0, 128, 255, 0.25) 0px 54px 55px, rgba(0, 128, 255, 0.12) 0px -12px 30px, rgba(0, 128, 255, 0.12) 0px 4px 6px, rgba(0, 128, 255, 0.17) 0px 12px 13px, rgba(0, 128, 255, 0.09) 0px -3px 5px;
    background-color: rgb(0, 128, 255);

}



.rightSide {
    height: 85vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rightSide img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    transition: all 0.3s linear;

}


.rightSide img:hover {
    transform: translateY(-5%);
    box-shadow: rgba(0, 128, 255, 0.25) 0px 54px 55px, rgba(0, 128, 255, 0.12) 0px -12px 30px, rgba(0, 128, 255, 0.12) 0px 4px 6px, rgba(0, 128, 255, 0.17) 0px 12px 13px, rgba(0, 128, 255, 0.09) 0px -3px 5px;
}




@media (max-width:800px) {
    #home{
        flex-direction:  column-reverse;
    }

    .leftSide,
    .rightSide
    {
        width: 100%;
        height: 60vh ;

    }

    .rightSide{
        align-items: end;
        height: 50vh ;

    }
}