@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


nav{
    text-align: center;
}

nav a{
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
}

.Heading {
    background-color: brown;
    color: white;
    text-align: center;
    font-family: "Tilt Prism", sans-serif;
    font-size: 55px;
}



.para1 {
    font-family: "Mulish", sans-serif;
    font-size: 22px;
}