* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.layout-box {
    width: 65%;
    height: 70vh;
    display: flex;
}

.leftSide {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;


}

.content {
    width: 100%;
    height: 50%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.leftSide h1 {
    font-weight: 700;
    margin-top: 30px;
    font-size: 44px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 157, 255);
}

.leftSide p {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}






.rightSide {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


form {
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 10px 5px;
    border-radius: 8px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}



form .form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    gap: 20px;
}


.form-header input {
    width: 90%;
    height: 50px;
    padding: 5px;
    border: 1px solid rgba(61, 60, 60, 0.4);
    border-radius: 4px;
    font-size: 18px;

}


.form-header input::placeholder {
    font-weight: 500;
    font-size: 16px;
}



.form-header button {
    width: 90%;
    height: 50px;
    padding: 5px;
    border: none;
    background-color: rgb(43, 159, 197);
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    cursor: pointer;
    font-size: 18px;
}


.form-header a {
    text-decoration: none;
}


.form-footer {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.form-footer .line {
    width: 90%;
    height: 1px;
    background-color: rgba(61, 60, 60, 0.4);

}

.form-footer .create-btn {
    padding: 3px;
    width: 50%;
    height: 45px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: rgb(52, 195, 52);
}