@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



* {
    margin: 0;
    padding: 0;
}




nav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}

nav a {
    font-size: 22px;
    color: black;
    margin-top: 20px;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
}

.Heading {
    background-color: brown;
    color: white;
    text-align: center;
    font-family: "Tilt Prism", sans-serif;
    font-size: 55px;
}



.para1 {
    font-family: "Mulish", sans-serif;
    font-size: 22px;
}


.parent {
    background-color: brown;
    width: 100%;
    height: 100vh;
    position: relative;
}



.child {
    background-color: blueviolet;
    width: 30%;
    height: 40%;
    /* position: relative;
    left: 35%;
    top: 30%; */
    position: absolute;
    top: 50px;
}


.parent img {
    width: 30%;
    height: 40%;
}